<!DOCTYPE html>
<html ng-app="store">
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	<title>Angular Store!</title>

</head>
<body class="container" ng-controller="StoreController as store">
    <header>
      <h1 class="text-center">Flatlander Crafted Gems</h1>
      <h2 class="text-center"> an Angular store </h2>
    </header>

		<div class="product row list-group-item" ng-repeat="product in store.products">
			<h1>{{product.name}}
			<em class="pull-right">{{product.price | currency}}</em>
			</h1>

			<section ng-show="product.images.length">
        <ul class="list-inline thumbs">
          <li class="thumbnail" ng-repeat="image in product.images">
            <img ng-src="{{image.full}}" />
          </li>
        </ul>
      </section>

			<button ng-show="product.canPurchase"> Add to Cart </button>

			<section class="tab" ng-init="tab = 1" ng-controller="PanelController as panel">
				<ul class="nav nav-pills">
					<li ng-class="{ active:panel.isSelected(1)}"> <a ng-click="panel.selectTab(1)" href="">Description</a> </li>
					<li ng-class="{ active:panel.isSelected(2)}"> <a ng-click="panel.selectTab(2)" href="">Specification</a> </li>
					<li ng-class="{ active:panel.isSelected(3)}"> <a ng-click="panel.selectTab(3)" href="">Reviews</a> </li>
				</ul>


			<div class="panel" ng-show="panel.isSelected(1)">
				<h4>Description</h4>
				<p><blockquote>{{product.description}}</blockquote></p>
			</div>
			<div class="panel" ng-show="panel.isSelected(2)">
				<h4>Specifications</h4>
				<p><blockquote>None yet</blockquote></p>
			</div>
			<div class="panel" ng-show="panel.isSelected(3)">
				<h4>Reviews</h4>
				<p><blockquote>None yet</blockquote></p>
			</div>
			</section>
		</div>





	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>